@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&display=swap");

body {
    font-family: "Roboto Mono", monospace;
    margin: 0;
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

#header {
    display: flex;
    background-color: var(--accent-color);
    overflow: hidden;
    padding: 0 20px;
    align-items: center;
    overflow: none;
}

#header .logo {
    padding: 0;
    margin: 0;
}

#header .buttons {
    justify-content: right;
    width: 100%;
    display: flex;
    padding: 0 20px;
}

.buttons a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.buttons a:hover {
    background-color: var(--background-color);
}

.btn {
    padding: 10px;
    min-width: 90px;
    margin: 6px;
    font-size: 1.2em;
    color: var(--primary-text-color);
    border-radius: 3px;
    /* border: solid 1.5px ; */
}
a {
    text-decoration: none;
    color: var(--primary-text-color);
}

.btn.primary {
    background-color: var(--accent-color);
    border: solid 2px var(--accent-color);
}
.btn.secondary {
    border: solid 2px var(--accent-color);
    color: var(--primary-text-color);
}
.btn:hover {
    cursor: pointer;
}

#error {
    color: red;
}

input {
    padding: 10px;
    margin: 10px;
    min-width: 90px;
    border: solid 2px var(--primary-text-color);
    border-radius: 3px;
}

form {
    display: flex;
    flex-direction: column;
}

.secondary {
    color: var(--secondary-text-color);
}
a.secondary {
    color: var(--secondary-link-color);
}
.btn.secondary:hover {
    background-color: var(--accent-color);
    transition-duration: 0.5s;
}

div.bigaf {
    /* height: 100%; */
    min-height: 70vh;
    padding: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#grid {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.item {
    display: grid;
    /* justify-content: center; */
    /* align-items: center; */
    grid-template-columns: 1.5fr 0.75fr 0.75fr;
    text-align: center;

    /* border: solid 2px var(--accent-color)
     ; */
    width: 100%;
    padding: 10px;
    margin: 0px 0px;
}

.item div.item-title {
    text-align: left;
    display: flex;
    align-items: center;
}

.item div.item-title > svg {
    margin-right: 0.5em;
}

.item:hover {
    background-color: var(--accent-color);
    /* transition-duration: 0.5s; */
}

.item:hover div.item-title {
    text-decoration: underline 1px var(--primary-text-color);
    /* transition: transform .3s cubic-bezier(.86,0,.07,1); */
}

[hidden] {
    display: none;
}
